:root {
  --main-color: #1992D4;
}

body {
  box-sizing: border-box;
  font-family: Roboto-black;
  background-color: #E2E8F0;
}

.container {
    height: 100vh;
    /* max-width: 1500px; */
    justify-content: center;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: .8fr 3fr;
  
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.primary-links ul {

}

/* Header */
.header {
  grid-column: 2 / 3;
  /* Header children Grid  */
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: flex-start;
  align-items: center;
  height: 170px;
  background-color: white;
  
}

/* Header assets */

/* Search section */
.search-wrapper {
  position: relative;
  display: flex;
  left: 30px;
  grid-column: 1;
}
.s-button {
  height: 30px;
  width: 30px;
  margin-right: 15px;
}
.search-bar {
  border: 1px solid gray;
  border-radius: 80px;
  width: 600px;
  background-color: lightgray;
  opacity: 0.4;
}

/* Bell/icon small/name small section */
.header-top-right-wrapper {
  display: flex;
  gap: 30px;
  grid-column: 3;
}
.bell {
  height: 30px;
  width: 30px;
}
.avatar-small {
  height: 40px;
}
.name-small {
  width: 200px;
  font-weight: bolder;
}

/* Header bottom left wrapper */
.avatar-large {
  height: 70px;
  grid-column: 1;
}
.greeting {
  width: 100%;
  grid-column: 2;
  grid-row: 1;
  font-weight: bolder;
  position: relative;
  top: 5px;
}
.name-large {
  grid-column: 2;
  font-size: 1.2rem;
  font-weight: bolder;
  position: relative;
  bottom: 15px;
}

.header-bottom-left-wrapper {
  display: grid;
  grid-template-columns: 70px 400px;
  grid-template-rows: 30px 60px;
  grid-column: 1;
  grid-row: 2;
  position: relative;
  left: 30px;
  gap: 1rem;
  
}


/* Header bottom right wrapper*/
.header-bottom-right-wrapper {
  display: flex;
  gap: 20px;
  grid-column: 3;
  margin-right: 30px;
}
.btn {
  width: 90px;
  border-radius: 20%;
  background-color: var(--main-color);
  color: white;
}


/* SideBar */
.sidebar {
  grid-column: 1 ;
  grid-row: 1 / 3;
  background-color: var(--main-color);
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.primary-links {
  display: flex;
  position: relative;
  left: 15px;
  flex-direction: column;
  align-items: flex-start;
}

li {
  display: flex;
  gap: 14px;
  position: relative;
  margin-bottom: 5px;
}

.dashboard-header-container {
  display: flex;
  font-weight: bolder;
  font-size: 20px;
  position: relative;
  right: 8px;
}

.dashboard-header-icon {
  width: 50px;
  height: 40px;
  position: relative;
  top: 18px;

}
.sidebar-icon {
  width: 30px;
  height: 20px;
  position: relative;
}
img[src="assets/svg/account-group.svg"], .dashboard-header {
  margin-bottom: 40px;
}









/* Main content */
.main-body {
  /* display: grid; */
  
  /* outer container grid */
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

/* Main Cards */
.main-body {
  display: inline-grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 30px;
  background-color: #E2E8F0;
}
.main-primary-cards {
  border: 2px solid orange;
  width: 415px;
  height: 225px;
}

/* Announcements container */
.announcements-container {
  border: 2px solid green;
  height: 170px;
  width:  270px;
  display: flex;
  font-size: .7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}
/* Trending container */
.trending {
  border: 2px solid red;
  /* height: 330px; */
  width:  270px;
  display: flex;
  font-size: .7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column:  3 / 3;
  grid-row: 2 / 3;
}
















































/* Material Button Template */
.btn {
  position: relative;

  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: var(--main-color);
  color: #ecf0f1;
  
  transition: background-color .3s;
  height: 30px;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  position: relative;
  height: 100%;
}

h2 {
  font-weight: normal;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c;
}

.btn.red:hover, .btn.red:focus {
  background-color: #c0392b;
}



/* font import */
@font-face {
  font-family: Roboto-Black;
  src: url(/home/xian/Projects/Admin-dashboard/assets/Roboto/Roboto-Black.ttf);
}

/* CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}



/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}